@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0 auto;
  padding: 0 auto;

  
}
body{
  width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 500;

}
a{
  text-decoration: none;
    color: inherit;
    text-decoration-color: #86FF29; 
}
img{
  min-width: 100%;
}
header{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  height: 100px;
  width: 100%;
  font-weight: 800;
  font-size: 32px;
  color: #4B1E04;
  background-color: #fff;
  
}
.logo{
  display: flex;
  justify-content: center;
  height: 100px;
}
.logo_t{
  margin-top: 34px;
}
ul{
  display: flex;
  gap: 50px;
  list-style: none;
  margin-top: 34px;
}
.main_btn{
  text-decoration: underline;
  text-decoration-color: #86FF29;     /* цвет линии */
  text-decoration-thickness: 5px;     /* толщина  */
  text-underline-offset: 4px;         /* отступ от текста  */
  transition: all 0.3s ease;
}
.main_btn:hover{
  color: #86FF29;
  transform: scale(1.03);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}
.btn{
  transition: all 0.3s ease;
}
.btn:hover{
  color: #86FF29;
  transform: scale(1.03);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}
/*-----------*/
main{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
    font-size: 32px;
  color: #4B1E04;
    width: 1440px;
  height: 804px;
  background-image: url(../img/Coffe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.center{
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.83);
  width: 500px;
  height: 650px;
}
.stol{
  font-weight: 800;
  display: flex;
  margin-top: 30px;
}
.stol1{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 250px;
  
}
.stol2{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 250px;

}
input[type="checkbox"]{
  width: 30px;
  height: 30px;
}
label{
  margin: 5px;
}
.name{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: #4B1E04;;
  width: 300px;
  height: 60px;

}
.name input{
  
  font-size: 24px;
  width: 100%;
  height: 60px;
  background-color: #4B1E04;
  color: #ffffff;
  margin-left: 5px;
}
.time{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: #4B1E04;;
  width: 300px;
  height: 60px;

}
.time input{
  font-size: 24px;
  width: 100%;
  height: 60px;
  background-color: #4B1E04;
  color: #ffffff;
  margin-left: 5px;
}
.zap{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bttnzav{
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 800;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.bttnzav a{
  background-color: rgba(134, 255, 41);
  border-radius: 30px;
  padding: 10px;
}
.bttnzav:hover{
    transform: scale(1.03);
}
/*--------------*/

.footer {
  background-color: #845C28;
  color: #4B1E04;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  font-family: 'Roboto', sans-serif;
  width: 1440px;
}

/* Левая часть — логотип и копирайт */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.logo-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3); /* блок с прозрачностью 30% */
  border-radius: 12px;
}

.logo-img {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.copyright {
  color: rgba(75, 30, 4, 0.61); /* текст слева — 61% прозрачности */
  margin: 0;
  font-size: 14px;
}
.footer-right{
      background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: 500px;
  height: 126px;
  font-size: 14px;
  font-weight: bolder;
}
.footer-right h1,h2{
  margin-left: 5px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-right h2{
  width: 180px;
  opacity: 61%;
}
.right-main{
  margin-left: 15px;
}
.right-main h1{
  transition: all 0.3s ease;
}
.right-main h1:hover{
  color: #86FF29;
  transform: scale(1.03);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}
.right-right h1{
  margin-left: 5px;
  transition: all 0.3s ease;
}
.right-right h1:hover{
  color: #86FF29;
  transform: scale(1.01);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}