*{
  margin: 0 auto;
  padding: 0 auto;

}
body{
  width: 1440px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  flex-direction: column;
}
a{
  text-decoration: none;
    color: inherit;
    text-decoration-color: #86FF29; 
}
img{
  min-width: 100%;
}
header{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  height: 100px;
  width: 100%;
  font-weight: 800;
  font-size: 32px;
  color: #4B1E04;
  background-color: #fff;
  
}
.logo{
  display: flex;
  justify-content: center;
  height: 100px;
}
.logo_t{
  margin-top: 34px;
}
ul{
  display: flex;
  gap: 50px;
  list-style: none;
  margin-top: 34px;
}
.main_btn{
  text-decoration: underline;
  text-decoration-color: #86FF29;     /* цвет линии */
  text-decoration-thickness: 5px;     /* толщина  */
  text-underline-offset: 4px;         /* отступ от текста  */
  transition: all 0.3s ease;
}
.main_btn:hover{
  color: #86FF29;
  transform: scale(1.03);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}
.btn{
  transition: all 0.3s ease;
}
.btn:hover{
  color: #86FF29;
  transform: scale(1.03);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}
/*------------------------*/

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.nav{
  margin-top: 50px;
  font-weight: 800;
  font-size: 32px;
  color: #4B1E04;
}
.nav a{
  margin: 30px;
  transition: all 0.3s ease;
  padding: 5px;
}
.nav a:hover{
  background-color: #86FF29;
  border-radius: 13px;
  color: #845C28;
}
/*--------------*/
.drinks{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: start;
}
.drinks-text{
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #86FF29;
  border-radius: 13px;
  color: #845C28;
   padding: 5px;

}

.coffee-card {
  width: 300px;
  background-color: #845C28;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.coffee-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  border-radius: 60px;
}

.card-image {
  width: 100%;
  height: 100%;

  
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card-image:hover img {
  transform: scale(1.05);
}


.card-content {
  padding: 20px;
  text-align: center;
  color: white;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  margin-top: 10px;
}

.coffee-card:hover .description {
  max-height: 150px;
  opacity: 1;
}
.text-breakfast{
    justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #86FF29;
  border-radius: 13px;
  color: #845C28;
  padding: 5px;
  font-family: "Roboto", sans-serif;
    font-weight: 800;
  font-size: 32px;
}
.breakfast{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: start;
}
.dessert{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: start;
  margin-bottom: 150px;
}
.text-dessert{
    justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #86FF29;
  border-radius: 13px;
  color: #845C28;
  padding: 5px;
  font-family: "Roboto", sans-serif;
    font-weight: 800;
  font-size: 32px;}
/*-------------------*/
.footer {
  background-color: #845C28;
  color: #4B1E04;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

/* Левая часть — логотип и копирайт */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.logo-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3); /* блок с прозрачностью 30% */
  border-radius: 12px;
}

.logo-img {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.copyright {
  color: rgba(75, 30, 4, 0.61); /* текст слева — 61% прозрачности */
  margin: 0;
  font-size: 14px;
}
.footer-right{
      background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: 500px;
  height: 126px;
  font-size: 14px;
  font-weight: bolder;
}
.footer-right h1,h2{
  margin-left: 5px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-right h2{
  width: 180px;
  opacity: 61%;
}
.right-main{
  margin-left: 15px;
}
.right-main h1{
  transition: all 0.3s ease;
}
.right-main h1:hover{
  color: #86FF29;
  transform: scale(1.03);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}
.right-right h1{
  margin-left: 5px;
  transition: all 0.3s ease;
}
.right-right h1:hover{
  color: #86FF29;
  transform: scale(1.01);
    text-shadow:
    -1px -1px 0 #4B1E04,
    1px -1px 0 #4B1E04,
    -1px 1px 0 #4B1E04,
    1px 1px 0 #4B1E04;
}